{
  "presets": [
    "@babel/env",
    "@babel/react",
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-spread",
    "@babel/plugin-proposal-class-properties",
    [
      "react-intl", {
        "messagesDir": "src/translations/extracted",
      }
    ]
  ]
}
