language: node_js
node_js:
  - "14"
  - "16"
install:
  - yarn install --pure-lockfile
  - yarn add --dev coveralls
script:
  - yarn test
  - yarn lint
after_success:
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
before_deploy:
  - |
    if [ "$TRAVIS_BRANCH" = "alpha" ]; then
      eval export FRONTEND_SENTRY_DSN=https://2877691aaae24810ab09890efef576be@sentry.rovercode.com/6
      eval export PXT_HEX_URL=https://rovercode-gigglebot-mbed.s3.us-east-2.amazonaws.com/alpha/rovercode.hex
      eval export SUBSCRIPTION_SERVICE=https://alpha-payment.rovercode.com
      eval export STRIPE_SHARABLE_KEY=pk_test_51HFVMDDAGjnnjW0cTIvpN2q1eigGLhpgdu3hI5qwWqfd5LPgDpuvyTCFOIiyV1ink662rRNAIPkvjD1FAf5SJFY400rlIgsZ4P
    elif [ "$TRAVIS_BRANCH" = "beta" ]; then
      eval export FRONTEND_SENTRY_DSN=https://7b9bd38281074edca423de6c7eff2ba6@sentry.rovercode.com/7
      eval export PXT_HEX_URL=https://rovercode-gigglebot-mbed.s3.us-east-2.amazonaws.com/beta/rovercode.hex
      eval export SUBSCRIPTION_SERVICE=https://beta-payment.rovercode.com
      eval export STRIPE_SHARABLE_KEY=pk_test_51HFVMSGHtsId1yLpDXJ5454Ic0LON1vy2mEeD56VXZbEsoPs2DTW3swZWUn9HGn2xy8wLjOtnxdo4J6v2387cDFw00rWbfJrpA
    else
      eval export FRONTEND_SENTRY_DSN=https://938efcaf982044529be14f28ea5afda2@sentry.rovercode.com/5
      eval export PXT_HEX_URL=https://rovercode-gigglebot-mbed.s3.us-east-2.amazonaws.com/prod/rovercode.hex
      eval export SUBSCRIPTION_SERVICE=https://payment.rovercode.com
      eval export STRIPE_SHARABLE_KEY=pk_live_auXa1Eh5nuIDvs2dyGwdxgRZ00HUdYWemF
    fi
    yarn build

deploy:
  - provider: s3
    access_key_id: AKIAIIORSR4VN3YQY2YQ
    secret_access_key:
      secure: GOlPerevnIbdWJe7jFSbgaQqHK03IT+ZV3IgZoeR74JmGpm2T/jZolPqhngysCyqkkA5Cq5FZCNaj6XXk0OjFcGtxcHikSNO8jpKq+KwIL3l6qEXYePZgaSW9i0OYqI0Up928AX7s3eUAA7sy43FbIe3PDSOz2EF8u56mQL3rzP5rjG8utF9vnvhIAmAQXB9N2Aelo7R7KkrTlq3gItORgWYd0cZqjBxc/ohigEWBianjWUEsFLUAmLpbPevvbtsw4GNFrKZEPIYUNv5wSHS2ayhSJNEvBrQoc3vkSblotDBE0aRsCRZVtAOGB1hz8gNASp341wtDzdEkZXl8O2Xk2GYnXDxelFq+jNE9ttsC3wwF6gDWi7ihJYPqQltMB77ZCbnuedYdX8hEvTkAowMihJoRdsc/P8nvQAvzTSH/g1KX0JSTpOJ6WROiC13rnkJpbxAT5NY7MU3wOWQfKumxWeffhYJs4a/UvVrzRNFrjoRmxD3FERTHHTWuwsj3CwplchcQkGdDxMNdIy8rHrUC4KINAdJZRY1MlucWqnEM4grIz/fpiQPTwR0SkhVAsllWsyHZatDsEp0vAG+stLcmIQ/wZEidrVi8EEGFB0yw7FVhSmPVZBODNdf+WEF+VFWZbbWCHLGq7a6CgvhH3bEUF3L8acI4y/+S9EYgYtAOlQ=
    bucket: production-rovercode-ui
    local_dir: dist
    acl: public_read
    skip_cleanup: true
    region: us-east-2
    on:
      repo: rovercode/rovercode-ui
      branch: master
  - provider: s3
    access_key_id: AKIAIIORSR4VN3YQY2YQ
    secret_access_key:
      secure: GOlPerevnIbdWJe7jFSbgaQqHK03IT+ZV3IgZoeR74JmGpm2T/jZolPqhngysCyqkkA5Cq5FZCNaj6XXk0OjFcGtxcHikSNO8jpKq+KwIL3l6qEXYePZgaSW9i0OYqI0Up928AX7s3eUAA7sy43FbIe3PDSOz2EF8u56mQL3rzP5rjG8utF9vnvhIAmAQXB9N2Aelo7R7KkrTlq3gItORgWYd0cZqjBxc/ohigEWBianjWUEsFLUAmLpbPevvbtsw4GNFrKZEPIYUNv5wSHS2ayhSJNEvBrQoc3vkSblotDBE0aRsCRZVtAOGB1hz8gNASp341wtDzdEkZXl8O2Xk2GYnXDxelFq+jNE9ttsC3wwF6gDWi7ihJYPqQltMB77ZCbnuedYdX8hEvTkAowMihJoRdsc/P8nvQAvzTSH/g1KX0JSTpOJ6WROiC13rnkJpbxAT5NY7MU3wOWQfKumxWeffhYJs4a/UvVrzRNFrjoRmxD3FERTHHTWuwsj3CwplchcQkGdDxMNdIy8rHrUC4KINAdJZRY1MlucWqnEM4grIz/fpiQPTwR0SkhVAsllWsyHZatDsEp0vAG+stLcmIQ/wZEidrVi8EEGFB0yw7FVhSmPVZBODNdf+WEF+VFWZbbWCHLGq7a6CgvhH3bEUF3L8acI4y/+S9EYgYtAOlQ=
    bucket: beta-rovercode-ui
    local_dir: dist
    acl: public_read
    skip_cleanup: true
    region: us-east-2
    on:
      repo: rovercode/rovercode-ui
      branch: beta
  - provider: s3
    access_key_id: AKIAIIORSR4VN3YQY2YQ
    secret_access_key:
      secure: GOlPerevnIbdWJe7jFSbgaQqHK03IT+ZV3IgZoeR74JmGpm2T/jZolPqhngysCyqkkA5Cq5FZCNaj6XXk0OjFcGtxcHikSNO8jpKq+KwIL3l6qEXYePZgaSW9i0OYqI0Up928AX7s3eUAA7sy43FbIe3PDSOz2EF8u56mQL3rzP5rjG8utF9vnvhIAmAQXB9N2Aelo7R7KkrTlq3gItORgWYd0cZqjBxc/ohigEWBianjWUEsFLUAmLpbPevvbtsw4GNFrKZEPIYUNv5wSHS2ayhSJNEvBrQoc3vkSblotDBE0aRsCRZVtAOGB1hz8gNASp341wtDzdEkZXl8O2Xk2GYnXDxelFq+jNE9ttsC3wwF6gDWi7ihJYPqQltMB77ZCbnuedYdX8hEvTkAowMihJoRdsc/P8nvQAvzTSH/g1KX0JSTpOJ6WROiC13rnkJpbxAT5NY7MU3wOWQfKumxWeffhYJs4a/UvVrzRNFrjoRmxD3FERTHHTWuwsj3CwplchcQkGdDxMNdIy8rHrUC4KINAdJZRY1MlucWqnEM4grIz/fpiQPTwR0SkhVAsllWsyHZatDsEp0vAG+stLcmIQ/wZEidrVi8EEGFB0yw7FVhSmPVZBODNdf+WEF+VFWZbbWCHLGq7a6CgvhH3bEUF3L8acI4y/+S9EYgYtAOlQ=
    bucket: alpha-rovercode-ui
    local_dir: dist
    acl: public_read
    skip_cleanup: true
    region: us-east-2
    on:
      repo: rovercode/rovercode-ui
      branch: alpha
