language: node_js
node_js:
  - "8"
install:
  - yarn install --pure-lockfile
script:
  - yarn test
  - yarn lint
before_deploy:
  - |
    if [ "$TRAVIS_BRANCH" = "alpha" ]; then
      eval export FRONTEND_SENTRY_DSN=https://88d114444d43458398b75b825909c30e@sentry.io/1406271
      eval export FRONTEND_LOGGER_ENDPOINT=https://endpoint5.collection.us2.sumologic.com/receiver/v1/http/ZaVnC4dhaV0uI8K0CiECmYVRYAVau-_Lo8TjrkWC9OwPEut5y_AaDOVGto4SGwr4wiQEVWzdtH6keVnhWSiST0GvGBNUjjO0YEaUq1HwpFjV7HsqaVWYhQ==
    elif [ "$TRAVIS_BRANCH" = "beta" ]; then
      eval export FRONTEND_SENTRY_DSN=https://a82f31ed5aa14c6f835de8e5ba8ef3fa@sentry.io/1406272
      eval export FRONTEND_LOGGER_ENDPOINT=https://endpoint5.collection.us2.sumologic.com/receiver/v1/http/ZaVnC4dhaV2YCwsKwtRRXcpk3bflt-bogF8u0T76IrkGlskmBrA2jfp2gcvfXGfy4NjKZUtSaSNz_OSUTfNL1NPTfcYWFsIWWNxrVWRJD6gFUkBgkt7fxg==
    else
      eval export FRONTEND_SENTRY_DSN=https://8ccf4910438348d494a8592312a4afdf@sentry.io/1406255
      eval export FRONTEND_LOGGER_ENDPOINT=https://endpoint5.collection.us2.sumologic.com/receiver/v1/http/ZaVnC4dhaV2oB8AnxMbQANacTvKDVkwB20H-dae3lHDkY_kgPmF0dOzVQNabDUt1Btd6c7L-RF_kwk9wR-9JZYDJdOeXQh78cWVu_CsHw6VbVrpq2hepVg==
    fi
    yarn build

deploy:
  - provider: s3
    access_key_id: AKIAIIORSR4VN3YQY2YQ
    secret_access_key:
      secure: GOlPerevnIbdWJe7jFSbgaQqHK03IT+ZV3IgZoeR74JmGpm2T/jZolPqhngysCyqkkA5Cq5FZCNaj6XXk0OjFcGtxcHikSNO8jpKq+KwIL3l6qEXYePZgaSW9i0OYqI0Up928AX7s3eUAA7sy43FbIe3PDSOz2EF8u56mQL3rzP5rjG8utF9vnvhIAmAQXB9N2Aelo7R7KkrTlq3gItORgWYd0cZqjBxc/ohigEWBianjWUEsFLUAmLpbPevvbtsw4GNFrKZEPIYUNv5wSHS2ayhSJNEvBrQoc3vkSblotDBE0aRsCRZVtAOGB1hz8gNASp341wtDzdEkZXl8O2Xk2GYnXDxelFq+jNE9ttsC3wwF6gDWi7ihJYPqQltMB77ZCbnuedYdX8hEvTkAowMihJoRdsc/P8nvQAvzTSH/g1KX0JSTpOJ6WROiC13rnkJpbxAT5NY7MU3wOWQfKumxWeffhYJs4a/UvVrzRNFrjoRmxD3FERTHHTWuwsj3CwplchcQkGdDxMNdIy8rHrUC4KINAdJZRY1MlucWqnEM4grIz/fpiQPTwR0SkhVAsllWsyHZatDsEp0vAG+stLcmIQ/wZEidrVi8EEGFB0yw7FVhSmPVZBODNdf+WEF+VFWZbbWCHLGq7a6CgvhH3bEUF3L8acI4y/+S9EYgYtAOlQ=
    bucket: production-rovercode-ui
    local_dir: dist
    acl: public_read
    skip_cleanup: true
    region: us-east-2
    on:
      repo: rovercode/rovercode-ui
      branch: master
  - provider: s3
    access_key_id: AKIAIIORSR4VN3YQY2YQ
    secret_access_key:
      secure: GOlPerevnIbdWJe7jFSbgaQqHK03IT+ZV3IgZoeR74JmGpm2T/jZolPqhngysCyqkkA5Cq5FZCNaj6XXk0OjFcGtxcHikSNO8jpKq+KwIL3l6qEXYePZgaSW9i0OYqI0Up928AX7s3eUAA7sy43FbIe3PDSOz2EF8u56mQL3rzP5rjG8utF9vnvhIAmAQXB9N2Aelo7R7KkrTlq3gItORgWYd0cZqjBxc/ohigEWBianjWUEsFLUAmLpbPevvbtsw4GNFrKZEPIYUNv5wSHS2ayhSJNEvBrQoc3vkSblotDBE0aRsCRZVtAOGB1hz8gNASp341wtDzdEkZXl8O2Xk2GYnXDxelFq+jNE9ttsC3wwF6gDWi7ihJYPqQltMB77ZCbnuedYdX8hEvTkAowMihJoRdsc/P8nvQAvzTSH/g1KX0JSTpOJ6WROiC13rnkJpbxAT5NY7MU3wOWQfKumxWeffhYJs4a/UvVrzRNFrjoRmxD3FERTHHTWuwsj3CwplchcQkGdDxMNdIy8rHrUC4KINAdJZRY1MlucWqnEM4grIz/fpiQPTwR0SkhVAsllWsyHZatDsEp0vAG+stLcmIQ/wZEidrVi8EEGFB0yw7FVhSmPVZBODNdf+WEF+VFWZbbWCHLGq7a6CgvhH3bEUF3L8acI4y/+S9EYgYtAOlQ=
    bucket: beta-rovercode-ui
    local_dir: dist
    acl: public_read
    skip_cleanup: true
    region: us-east-2
    on:
      repo: rovercode/rovercode-ui
      branch: beta
  - provider: s3
    access_key_id: AKIAIIORSR4VN3YQY2YQ
    secret_access_key:
      secure: GOlPerevnIbdWJe7jFSbgaQqHK03IT+ZV3IgZoeR74JmGpm2T/jZolPqhngysCyqkkA5Cq5FZCNaj6XXk0OjFcGtxcHikSNO8jpKq+KwIL3l6qEXYePZgaSW9i0OYqI0Up928AX7s3eUAA7sy43FbIe3PDSOz2EF8u56mQL3rzP5rjG8utF9vnvhIAmAQXB9N2Aelo7R7KkrTlq3gItORgWYd0cZqjBxc/ohigEWBianjWUEsFLUAmLpbPevvbtsw4GNFrKZEPIYUNv5wSHS2ayhSJNEvBrQoc3vkSblotDBE0aRsCRZVtAOGB1hz8gNASp341wtDzdEkZXl8O2Xk2GYnXDxelFq+jNE9ttsC3wwF6gDWi7ihJYPqQltMB77ZCbnuedYdX8hEvTkAowMihJoRdsc/P8nvQAvzTSH/g1KX0JSTpOJ6WROiC13rnkJpbxAT5NY7MU3wOWQfKumxWeffhYJs4a/UvVrzRNFrjoRmxD3FERTHHTWuwsj3CwplchcQkGdDxMNdIy8rHrUC4KINAdJZRY1MlucWqnEM4grIz/fpiQPTwR0SkhVAsllWsyHZatDsEp0vAG+stLcmIQ/wZEidrVi8EEGFB0yw7FVhSmPVZBODNdf+WEF+VFWZbbWCHLGq7a6CgvhH3bEUF3L8acI4y/+S9EYgYtAOlQ=
    bucket: alpha-rovercode-ui
    local_dir: dist
    acl: public_read
    skip_cleanup: true
    region: us-east-2
    on:
      repo: rovercode/rovercode-ui
      branch: alpha
